<div class="container container-profile">

  <div class="col-md-3">
    <%= render 'layouts/user_bar' %>
  </div>
  <div class="col-md-9">
    <%= render 'layouts/tabs' %>

    <div class="feed">
      <h3 class="contribution-activity">Contribution Activity</h3>
      <hr>
        <% @user_commits.each do |commit| %>
          <li class="commits">
            <h4><%= link_to commit.repo_name, repos_path %></h4>
            <div class="message">
              <%= "#{commit.message_hash.first[:message]}" %>
            </div>
            <hr>
          </li>
        <% end %>
      </div>
  </div>
</div>
