<div class="container container-profile">

  <div class="col-md-3">
    <%= render 'layouts/user_bar' %>
  </div>
  <div class="col-md-9">
    <%= render 'layouts/tabs' %>

    <div class="feed">

        <% @followers.each do |follower| %>
          <li>
            <h3><%= link_to "#{follower[:login]}", followers_path %></h3>
            <hr>
          </li>
        <% end %>
      </div>
  </div>
</div>
