/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 ul, li {
   list-style-type: none !important;
 }

a{
  color: #4078c0;
}

a:hover {
  color: #4078c0;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}
 .nav-container {
   margin-left: 90px;
   margin-right: 90px;
   padding-left: 26px;
   padding-right: 26px;
 }

 .logo{
   height: 28px;
   margin-right: -10px;
   margin-top: -5px;
 }

 .profile-pic {
   height: 230px;
   width: 230px;
   border-radius: 6px !important;
 }

.avatar {
  height: 20px;
  border-radius: 3px !important;
}

.container-profile {
  margin-left: 90px;
  margin-top: 24px;
  margin-right: 90px;
  padding-left: 26px;
  padding-right: 26px;
}

.user-info {
  padding-left: 0px;
}

.profile-name {
  padding-bottom: 10px;
  margin: 0px;
}

.profile-name .full-name{
  font-size: 26px;
  line-height: 30px;
}
.profile-name .username{
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #666;
  margin-top: -10px;
}

.profile-options {
  margin-right: 90px;
  padding-right: 26px;
}

.feed {
  margin-right: 90px;
}

.contribution-activity {
  font-size: 18px;
  font-weight: 300;
}
