<ul class="nav nav-tabs profile-options">
  <li role="presentation"><a href='/users/<%="#{current_user.id}"%>'>Overview</a></li>
  <li role="presentation"><a href="/repos">Repositories</a></li>
  <li role="presentation"><a href="/stars">Stars</a></li>
  <li role="presentation"><a href="/followers">Followers</a></li>
  <li role="presentation"><a href="/following">Following</a></li>
</ul>
